language: java
sudo: required
services:
  - docker

# the following skips the travis install step, which would run mvn install
install: true

# run our custom build script
script: ./build.sh -b

git:
  depth: 1

cache:
  directories:
  - $HOME/.m2
